In [14]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_blobs
X,y=make_blobs(n_samples=5000, centers=5, n_features=10,random_state=0)

In [15]:

df=pd.DataFrame(X)
df

             0         1         2         3          4          5         6         7          8         9
0    -2.667454 -1.331289  5.149130 -7.770884   3.620071   3.508936 -6.044543 -6.675785  -3.741888 -4.868993
1    -2.986402  6.564015 -3.011104  2.609360 -10.409488   2.430967  2.876263  1.086595   9.615997  2.936693
2    -4.449740  4.909782 -0.658734  4.500745  -9.762361   1.633454  2.145181  1.066277   9.063859  4.543940
3     5.781325  0.063430  1.600392  7.628544  -8.287341  -8.004530 -8.243126  6.832687   4.604430  7.218148
4     6.471326  1.768839  0.995650  8.538602  -8.393577 -10.386316 -9.656833  6.487686   7.161424  7.778632
...        ...       ...       ...       ...        ...        ...       ...       ...        ...       ...
4995  7.569892  5.312479 -0.103591  3.694987  -7.948999   1.552728 -8.412559  6.684284   1.176627 -1.677102
4996  0.779403  4.394985  1.167964 -0.970519  -1.603002   2.137285 -0.768012  7.867497   8.566548 -2.794325
4997  2.906768  4.041143  2.881200  0.254397  -2.355885   2.715148 -1.506122  7.906275  10.271100 -2.071089
4998 -2.669117 -0.398069  3.720188 -7.358139   4.198135   4.945335 -5.981288 -8.003971  -4.656782 -1.381178
4999  9.707576  7.000307 -1.546824  4.685049  -7.266724   2.664772 -6.042621  8.341162   0.264202  0.483773

[5000 rows x 10 columns]

In [16]:
df_corr_matrix=df.corr()
df_corr_matrix

          0         1         2         3         4         5         6         7         8         9
0  1.000000  0.201469 -0.265163  0.677166 -0.337994 -0.361208 -0.693196  0.663905 -0.153199  0.065604
1  0.201469  1.000000 -0.705216  0.421927 -0.550180  0.339818  0.461582  0.630279  0.478793 -0.095106
2 -0.265163 -0.705216  1.000000 -0.585488  0.778420  0.010006 -0.230477 -0.550341 -0.381320 -0.290499
3  0.677166  0.421927 -0.585488  1.000000 -0.819697 -0.612741 -0.278034  0.852270  0.473750  0.599706
4 -0.337994 -0.550180  0.778420 -0.819697  1.000000  0.421272 -0.056033 -0.628037 -0.504946 -0.670153
5 -0.361208  0.339818  0.010006 -0.612741  0.421272  1.000000  0.548041 -0.279418 -0.194145 -0.809069
6 -0.693196  0.461582 -0.230477 -0.278034 -0.056033  0.548041  1.000000 -0.074886  0.547202 -0.147823
7  0.663905  0.630279 -0.550341  0.852270 -0.628037 -0.279418 -0.074886  1.000000  0.568972  0.227854
8 -0.153199  0.478793 -0.381320  0.473750 -0.504946 -0.194145  0.547202  0.568972  1.000000  0.411232
9  0.065604 -0.095106 -0.290499  0.599706 -0.670153 -0.809069 -0.147823  0.227854  0.411232  1.000000

In [26]:
upper_matrix=pd.DataFrame(np.triu(df.corr().abs(),k=1))
upper_matrix

     0         1         2         3         4         5         6         7         8         9
0  0.0  0.201469  0.265163  0.677166  0.337994  0.361208  0.693196  0.663905  0.153199  0.065604
1  0.0  0.000000  0.705216  0.421927  0.550180  0.339818  0.461582  0.630279  0.478793  0.095106
2  0.0  0.000000  0.000000  0.585488  0.778420  0.010006  0.230477  0.550341  0.381320  0.290499
3  0.0  0.000000  0.000000  0.000000  0.819697  0.612741  0.278034  0.852270  0.473750  0.599706
4  0.0  0.000000  0.000000  0.000000  0.000000  0.421272  0.056033  0.628037  0.504946  0.670153
5  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.548041  0.279418  0.194145  0.809069
6  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.074886  0.547202  0.147823
7  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.568972  0.227854
8  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.411232
9  0.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [29]:
high_corr_columns=[col for col in upper_matrix.columns if any(upper_matrix[col]>0.6)]
high_corr_columns

[2, 3, 4, 5, 6, 7, 9]